
body { 
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
    background-color: #f4f8f8; 
}


header { 
    background-color: #51879e; 
    color: white; 
    padding: 20px; 
    position: relative;
    z-index: 10;
    margin-top: 0;
}

.logo { 
    font-size: 2em; 
    font-weight: bold; 
}

.mult { 
    font-family: 'Brush Script MT', cursive; 
    margin-right: 5px; 
}

.hospital { 
    font-family: Arial, sans-serif; 
}


.sidebar {
    width: 200px;
    background-color: #d7e6e6;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 20px;
    z-index: 5;
}

.sidebar a {
    display: block;
    background-color: #e6f2f2;
    color: #333;
    padding: 15px 20px;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid #444;
}

.sidebar a:hover {
    background-color: #51879e;
    color: white;
}


.main-content {
    margin-left: 220px;
    padding: 20px;
}


.container { 
    max-width: 800px; 
    margin: 20px auto; 
    padding: 20px; 
    background: white; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}


h2 {
    color: #124c66;
    font-family: Times New Roman;
    font-size: 56px;
    margin-bottom: 20px;
}

h3 {
    color: #124c66;
    font-size: 24px;
    margin-bottom: 10px;
}


.department-card {
    background: white;
    padding: 20px;
    margin-bottom: 15px;
   
}

.department-card h3 {
    color: #124c66;
    font-size: 24px;
    margin-bottom: 10px;
}

.department-card p {
    color: #124c66;
    font-size: 16px;
    line-height: 1.6;
}